/* Main style */

/* INCLUDES */
@font-face {
    font-family: Arial;
    src: url(/fonts/arial.ttf);
}

@font-face {
    font-family: Open-Sans;
    src: url(/fonts/open-sans.ttf);
}
/* INCLUDES END */


/* JOIN */
.main-header, .main-footer {
    border-color: #2A7600;
    border-style: solid;
}
/* JOIN END */


/* MAIN */
.gb-form {
    background: #eee;
}

.gb-message {
    background-color: #EFEEEC;
    display: flex;
    position: relative;
    margin: 10px 0;
}

.gb-message:first-child {
	margin-top: 0;
}

.gb-message:last-child {
    margin-bottom: 0;
}

.gb-message .box {
    padding: 10px;
}

.g-recaptcha {
	margin-left: 20px;
}

.gb-form--message, .gb-form--username, .gb-form--email {
	padding: 10px;
	box-sizing: border-box;
}

.gb-form--username, .gb-form--email {
	flex-grow: 1;
}

.gb-form--message {
	width: 100%;
	height: 100px;
}

.gb-message--username {
    font-size:  18px;
}

.gb-message--email {
    font-size: 12px;
    font-weight: normal;
}

.gb-message--avatar {
    background-color: #DADADA;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
}

.gb-message--time {
    font-size: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.gb-message--message {
	white-space: pre-wrap;
}

.gb-form--container {
	display: flex;
}

.gb-form--box-message {
    display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
}

.gb-form--box-captcha {
	display: flex;
	align-items: center;
}

.gb-form--send {
    width: 100%;
    height: 32px;
    background: #DEFFCC;
    cursor: pointer;
}

.gb-form--box-message input, .gb-form--box-message textarea {
    border: 1px solid #DADADA;
}
/* MAIN END */


/* HEADER */
.main-header {
    background-color: #BDFF99;
    border-bottom-width: 2px;
    padding: 20px 0;
}
/* HEADER END */

/* FOOTER */
.main-footer {
    border-top-width: 2px;
}
/* FOOTER END */


/* COMMON */
body {
    font-family: Open-Sans, sans-serif;
    font-size: 14px;
    color: #202020;
}

input, textarea {
    font-family: Open-Sans, sans-serif;
    font-size: 14px;
}

.box {
    width: 980px;
    margin: 0px auto;
}

.block {
    padding: 10px;
}

.block_first {
    padding-bottom: 0px;
}

.errors, .success {
    border-width: 2px;
    border-style: dashed;
    padding: 20px;
    box-sizing: border-box;
}

.errors {
    background-color: #FFCCCC;
    border-color: #FF6666;
}
.success {
    background-color: #CCFFCD;
    border-color: #66FF69;
}

a {
    color: #003101;
    text-decoration: none;
}

.hide {
	display: none;
}
/* COMMON END */